@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root{
    --primary-color: #14213d;
    --secondary-color: #4d7edd;
    /* --font: 'Poppins' , sans-serif; */
} 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.button-contact{
    padding: .6rem .8rem;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    background: var(--primary-color);
    color: white;
    font-size: 16px;
    text-decoration: none;
    outline: none;
    border: 2px solid var(--primary-color);
    transition: .3s;
    cursor: pointer;
    margin-top: 25px;
}
.btn:hover{
    background: transparent;
}
.bodyhome{
    background: black;
    font-family: var(--font);
}
nav{
    position: fixed;
    width: 100vw;
    height: 75px;
    border-top: .5rem solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999999;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7));
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 15%;
    font-weight: 700;
    background: transparent;
}
.logo::before{
    content: "B";
    color: white;
}
.logo::after{
    content: "FIT";
    color: white;
}
ul{
    display: flex;
    align-items: center;
    height: 60px;
}
ul a{
    text-decoration: none;
    color: white;
    margin: 0 2rem;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 17px;
}
ul li{
    list-style: none;
}
ul a:hover{
    color: #4d7edd;
}
.banner{
    background: url('/images/home1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 85vh;
}
.intro{
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
}
.intro h2,p{
    display: block;
    width: 60%;
    color: black;
}
.intro h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
}
.intro .btn{
    margin-top: 2rem;
}

.row{
    display: flex;
    justify-content: center;
}
.card{
    width: 33.3%;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card h2{
    text-transform: uppercase;
}

.footer{
    background: #4d7edd;
    padding: 30px 50px;
    font-size: 20px;
    color: black;
    text-align: center;
}