*{
    padding:0;
    margin:0; 
    box-sizing: border-box; 
    font-family:'Times New Roman', Times, serif;
}
header{
	width: 100vw;
	min-height: 100vh;
	background: #4D7EDD;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	background: white;
	max-width: 460px;
	min-height: 520px;
	display: flex;
	justify-content:space-between;
	align-items: flex-start;
	padding: 0.5rem 1.5rem;
    border-radius: 10px;
}
.left{
	flex-basis: 50%;
	justify-content: center;
}
/* .right{
	flex-basis: 50%;
} */
form{
	padding: 2.5rem;
	justify-items: center;
}

h3{
	margin-top: 1rem;
	color:#2c3e50;
	}

form input[type="text"]{
	width: 100%;
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
	outline: none;
}
form input[type="email"]{
	width: 100%;
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
	outline: none;
}

#zip{
	display: flex;
	margin-top: 0.5rem;
}
#zip select{
	padding: 0.5rem 0.7rem;
}
#zip input[type="number"]{
	padding: 0.5rem 0.5rem;
	margin-left: 0px;	
}
input[type="submit"]{
	width: 100%;
	padding: 0.7rem 1.5rem;
	background: #14213D;
	color: white;
	border: none;
	outline: none;
	margin-top: 0.2rem;
	cursor: pointer;
    font-size: 18px;
	margin-bottom:15px ;
}

input[type="submit"]:hover{
	background: #2c3e50;
}


@media only screen and (max-width: 770px){
	.container{
		flex-direction: column;
	}
	body{
		overflow-x: hidden;
	}
}

form ::placeholder{
    font-size: 18px;
}
#zip id{
    margin: 18px;
}
#pin{
    margin-left: 1rem;
}
